.select {

}

.col-container {
    display: flex;
    flex-direction: column;
}
.row-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.element_div {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}