:root {
    /* main */
    --main-bg-color: #000;
    --main-tx-color: #ebebeb;
    --main-header-color: #3e5683;

    /* components */
    /* header */
    --header-txt-color: #676fff;

    /* inputs */
    --input-bg-color: #1b2531;
    --input-bd-color:#384459;
    --input-txt-color: #9aaabe;

    /* tabela */
    --table-head-color:#e9e9e9;
    --table-body-color:#cfcfcf;
    --table-tr-color: #5f6e82;
    --table-tr-hover: #384459;
    --table-tr-child: #242c3b;

    /* CardControllers */
    /* CardNav */
    --nav-card-clr: #1b2531;
    
    --nav-card-bg: #283142;
    --nav-card-nav: #9aaabe;

    /* CardViewer */
    --card-bg-color: #283142;

    /* btn */
    --bg-btn-color: #ff6b721a;

    
}