:root {
    /* main */
    --main-bg-color: #000;
    --main-tx-color: #ebebeb;
    --main-header-color: #3e5683;
    /* btn */
    --bg-btn-color: #ff6b721a;
    /* components */
    --header-txt-color: #676fff;

}