.emplocontrol-red-btn {
    height: 45px;
    width: 45px;
    background: var(--bg-btn-color);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emplocontrol-red-btn img {
    width: 19px;
}